:root {
    --color-orange: #ff3400;
    --color-blue-light: #00d9ff;
    --color-blue-medium: #2584ff;
    --color-blue-dark: #1b0760;
    --color-gray-text: #918ca4;
    --color-white: #fff;
}

/*Typography*/

