:root {
    --color-blue-dark: #1b0760;
    --color-blue-light: #00d9ff;
    --color-blue-medium: #2584ff;
    --color-gray-text: #918ca4;
    --color-orange: #ff3400;
    --color-white: #fff;
}

html {
    font-size: 62.5%;
}

/*Typography*/

body {
    color:var(--color-gray-text);
    font-family: Inter, Arial, Helvetica, sans-serif;
    font-size: 2.4;
    line-height: 1.5;
}

h1, 
h2,
h3 {
    color: var(--color-blue-dark);
    margin-bottom: 1rem;
}

h1 {
    font-size: 7rem;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 3rem;
}

p{
    margin-top: 0;
}

@media screen and (min-width: 1024px) {
    body {
        font-size: 1.8rem;
    }
    
    h1 {
        font-size: 8rem;
    }

    h2 {
        font-size: 4rem;
    }
    h3{
        font-size: 2.4rem ;
    }
}

/*Links*/

a {
    text-decoration: none;
}
.link-arrow {
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 600;
    color: var(--color-orange);
}

.link-arrow::after {
    content:"-->";
    margin-left:5px;
    transition: margin 0.5s;
}

.link-arrow:hover::after {
   margin-left:10px; 
}

@media screen and (min-width: 1024px) {
    .link-arrow {
        font-size: 1.5rem;
    }
}

/* Badges */

.badge {
    border-radius: 20px;
    font-size: 2rem;
    font-weight: 600;
    padding: 0.5rem 2rem;
    white-space: nowrap;
}

.badge--primary {
    background: var(--color-blue-medium);
    color: var(--color-white);
}

.badge--secondary {
    background: var(--color-blue-light);
    color: var(--color-white);
}

.badge--small {
    font-size: 1.6rem;
}

@media screen and (min-width: 1024px) {
    .badge {
        font-size: 1.5rem;
    }

    .badge--small {
        font-size: 1.2;
    }
}

/* Lists */

.list {
    list-style: none;
    padding-left: 0;
    color: var(--color-blue-dark);
}

.list--inline .list__item {
    display: inline-block;
    margin-right: 2rem;
}

.list--tick {
    list-style-image: url(../images/tick.svg);
    padding-left: 3rem;
}

.list--tick .list__item {
    padding-left: 0.5rem;
    margin-bottom: 1rem;
}

@media screen and (min-width:1024px) {
    .list--tick .list__item {
        padding-left: 0;
    }
}

/* Icons */

.icon {
    width: 40px;
    height: 40px;
}

.icon--blue {
    fill: var(--color-blue-medium);
}

.icon-container {
    align-items: center;
    background: #f3f9fa;
    border-radius: 100%;
    display: inline-flex;
    height: 64px;
    justify-content: center;
    width: 64px;
}

