<blockquote class="quote">
  <p class="quote__text">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt optio
    quidem repellat corrupti nulla mollitia molestias maxime ad rem itaque.
  </p>
</blockquote>
<footer>
  <div class="media">
    <div class="media__image">
      <svg class="icon icon--blue quote__line">
        <use xlink:href="images/sprite.svg#wordpress"></use>
      </svg>
    </div>
    <div class="media__body">
      <h3 class="media__title quote__author">John Smith</h3>
      <p class="quote__organization">ABC Company</p>
    </div>
  </div>
</footer>
